.hidden-form{
    display:none;
}
.wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width:47%;
    margin-top:20px;
}
.modal-css-margin{
    margin-top:30%;
}
.mb-show{
    display:none;
}
.css-short{
    width:20%;
    display:inline;
}
@media screen and (max-width: 1024px){
   .mb-show{
       display:block;
   }
}
@media screen and (max-width: 480px) {
    .item{
        width:100%;
    }
    
}